
.left-nav {
    width: 100px;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F6FF;
}

.main-logo {
    width: 68px;
    height: 34px;
    margin-top: 52px;
    margin-left: calc(50% - 68px / 2);
}
.br-nav {
    border-bottom: 2px solid #C4C4C4;
    margin: 25px 18px 0 18px;

}
.a22{
    margin-left: 11px;
}
.link-nav {
    float: left;
    width: 100%;
    margin-top: 50px;
    padding-left:  26px;
    
}
.link-nav:focus {
    border: 1px solid #fff;
    background-color: #fff; 
    border-radius: 50px 0 0 50px;
    padding: 16px 0 16px 32px; 
    color: #02577A;
   
}
.inside {
    width: 100%;
}

.link-nav > img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    
}

.text-link{
    display: inline-block;
   
    line-height: 25px;
    color: #C4C4C4;
    text-decoration: none;
    font-size: 0;
}
.left-nav:hover {
    width: 206px;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F6FF;
}
.link-nav:focus img{
    filter: invert(21%) sepia(94%) saturate(1305%) hue-rotate(171deg) brightness(93%) contrast(98%);
}
.left-nav:hover .text-link{
    font-size: 16px;
    transition: all ,.3s ease-in-out, .3s ease-in-out;  
}
.link-nav:focus .text-link {
    color: #043c54;
}
.link-nav:focus .img {
    filter: invert(14%) sepia(74%) saturate(668%) hue-rotate(154deg) brightness(94%) contrast(102%);
}
.footer {
    width: 350px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #02577A;
    margin-left: calc(50% - 350px / 2);
}
.footer > p {
    text-align: center;
    line-height: 35px;
    font-size: 11px;
    font-weight: 500;
    color: #02577A;
    text-transform: capitalize;
}